.header_container {
    display: flex;
    gap: 5px;
    margin-bottom: 60px;
}

.btn {
    background: none;
    border: 1px solid #90EE90;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 5px 10px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.btn:hover {
    /*border: 1px solid;*/
    box-shadow: inset 0 0 10px rgba(0, 255, 0, .5), 0 0 10px rgba(0, 255, 0, .2);
    /*outline-color: rgba(0, 255, 0, 0);*/
    outline-offset: 15px;
    /*text-shadow: 1px 1px 2px #427388;*/
}

.btn_active {
    background-color: #90EE90;
    color: #ffffff;
}